﻿<div class="header" layout-padding >
    <div layout="row" layout-align="space-between center">

        <div flex-offset="5" flex="20" class="logo-div">
            <img  ng-src="/resources/images/logo-wide-large.png" class="logo" />
        </div>

        <div class="nav" flex-offset="5">
            <a href="/#/login" class="md-button">Login</a>
            <a href="/#/register/client" class="md-button">Register As Client</a>
            <a href="/#/register/driver" class="md-button">Register As Driver</a>
        </div>
    </div>


</div>
