﻿.header {
    position: fixed;
    border-bottom: 1px solid #EEEEEE;
    width: 100%;
    padding: 1em;
    background-color: white;
    z-index: 1;
}

    .header .nav  {
        margin-right: 5em;
    }

    .header .logo {
        width: 10em;
    }

    .header .logo-div {
        display: inline-block;
    }
