﻿<div id="driverRegPage" layout="row" flex="50" layout-align="center center">
    <form flex="20" action="" name="driverRegistration" layout="column" ng-controller="driverRegistrationController">
        <h2>Company Registration</h2>
        <md-input-container>
            <label>Company Name</label>
            <input name="companyName" ng-model="companyName" required>
            <div ng-messages="driverRegistration.companyName.$error">
                <div ng-message="required">Please enter your company name</div>
            </div>
        </md-input-container>
        <md-input-container>
            <label>Username</label>
            <input name="username" ng-model="username" required>
            <div ng-messages="driverRegistration.username.$error">
                <div ng-message="required">Please enter your username</div>
            </div>
        </md-input-container>
        <md-input-container>
            <label>Registration Number</label>
            <input name="registrationNo" ng-model="registrationNo" required>
            <div ng-messages="driverRegistration.registrationNo.$error">
                <div ng-message="required">Please enter your registration no</div>
            </div>
        </md-input-container>
        <md-input-container>
            <label>Website</label>
            <input name="website" ng-model="website">
        </md-input-container>
        <md-input-container>
            <label>Company Representative</label>
            <input name="companyRep" ng-model="companyRep" required>
            <div ng-messages="driverRegistration.companyRep.$error">
                <div ng-message="required">Please enter your company representative</div>
            </div>
        </md-input-container>
        <md-input-container>
            <label>Contact Number</label>
            <input name="contact" ng-model="contact" required>
            <div ng-messages="driverRegistration.contact.$error">
                <div ng-message="required">Please enter your contact number</div>
            </div>
        </md-input-container>
        <md-input-container>
            <label>Emergency Contact</label>
            <input name="emergencyContact" ng-model="emergencyContact" required>
            <div ng-messages="driverRegistration.emergencyContact.$error">
                <div ng-message="required">Please enter your emergency contact</div>
            </div>
        </md-input-container>
        <md-input-container>
            <label>Head Office Address</label>
            <input name="address" ng-model="address" required>
            <div ng-messages="driverRegistration.address.$error">
                <div ng-message="required">Please enter your head office address</div>
            </div>
        </md-input-container>

        <md-input-container>
            <label>Email Address</label>
            <input name="email" ng-model="email" required>
            <div ng-messages="driverRegistration.email.$error">
                <div ng-message="required">Please enter your email address</div>
            </div>
        </md-input-container>
        <md-input-container>
            <md-button class="md-raised">Register</md-button>
        </md-input-container>

    </form>
</div>
