﻿#clientDashboard .delivery-section {
    width: 100%;
    min-height: 15em;
    padding: 1em;
    border: 1px solid #AAA;
    border-radius: 3px;
}

#clientDashboard .dashboard-container {
    width: 100%;
}

#clientDashboard {
    height: auto;
}

.delivery-request {
}

md-card md-card-title md-card-title-media .md-media-lg {
    height: 60px;
    width: 80px;
}
