﻿<div id="clientDashboard" layout="row" layout-align="center center" ng-controller="clientDashboardController">
    <div layout="column" layout-align="space-around center" class="dashboard-container" flex="100">
        <div layout="row" layout-align="center center">
            <h1>Dashboard</h1>
        </div>
        <div layout="row">
            <a href="/#/client/create-delivery-request"><md-button class="md-raised md-primary">Create new delivery request</md-button></a>
        </div>
        <div layout="row" layout-align="space-around center"  flex="70" class="width-full">
            <div layout="column" layout-align="space-around center">
                <h3>Awaiting Approval</h3>
                <div class="delivery-section" layout="row" layout-wrap>

                    <md-card md-theme="default" class="delivery-request" ng-repeat="request in awaitingRequests">
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">{{request.destination}}</span>

                                <span class="md-subhead">Price: {{request.price}}</span>
                                <span class="md-subhead">Date: {{request.date}}</span>
                                <span class="md-subhead">Time: {{request.time}}</span>

                                <h6>Items: </h6>
                                <ul>
                                    <li ng-repeat="item in request.items">
                                        <span class="md-subhead">{{item}}</span>
                                    </li>
                                </ul>
                            </md-card-title-text>
                            <md-card-title-media>
                                <div class="md-media-lg card-media"><img src="../../resources/images/icon.png" /></div>
                            </md-card-title-media>
                        </md-card-title>
                        <md-card-actions layout="row" layout-align="end center">
                            <md-button class="md-raised md-primary">Accept</md-button>
                            <md-button class="md-raised md-warn">Reject</md-button>
                        </md-card-actions>
                    </md-card>

                </div>
            </div>
            <div layout="column" layout-align="space-around center">
                <h3>Pending Delivery Requests</h3>
                <div class="delivery-section" layout="row" layout-wrap>

                    <md-card md-theme="default" class="delivery-request" ng-repeat="request in awaitingRequests">
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">{{request.destination}}</span>

                                <span class="md-subhead" layout-wrap>Preferred Dates: {{request.deliverableByDate}}</span>

                                <h6>Items: </h6>
                                <ul>
                                    <li ng-repeat="item in request.items">
                                        <span class="md-subhead">{{item}}</span>
                                    </li>
                                </ul>
                            </md-card-title-text>
                            <md-card-title-media>
                                <div class="md-media-lg card-media"><img src="../../resources/images/icon.png" /></div>
                            </md-card-title-media>
                        </md-card-title>
                        <md-card-actions layout="row" layout-align="end center">
                            <md-button class="md-raised md-primary">Edit</md-button>
                            <md-button class="md-raised">Cancel</md-button>
                        </md-card-actions>
                    </md-card>

                </div>
            </div>
        </div>
    </div>

</div>
