﻿.loginbox-container {
    width: 20%;
    height: 70%;
}

.loginbox-container md-tabs{
    height: 100%;
    overflow:hidden;
}

.loginbox-container md-tabs md-tab-content div{
    overflow:hidden;
}
