﻿<md-content class="md-padding loginbox-container">
    <md-tabs class="md-accent" md-selected="data.selectedIndex" md-align-tabs="top">
        <md-tab id="Client">
            <md-tab-label>Client Login</md-tab-label>
            <md-tab-body>
                <form action="http://localhost:4205/auth/login" method="POST" name="clientLogin" layout="column">
                    <h2>Client Login</h2>
                    <md-input-container>
                        <label>Username</label>
                        <input name="cUsername" ng-model="cUsername" required>
                        <div ng-messages="clientLogin.cUsername.$error">
                            <div ng-message="required">Please enter your username</div>
                        </div>
                    </md-input-container>
                    <md-input-container>
                        <label>Password</label>
                        <input type="password" name="cPassword" ng-model="cPassword" required>
                        <div ng-messages="clientLogin.cPassword.$error">
                            <div ng-message="required">Please enter your password</div>
                        </div>
                    </md-input-container>

                    <button class="md-button md-raised" type="submit">Login</button>

                </form>
            </md-tab-body>
        </md-tab>
        <md-tab id="Driver">
            <md-tab-label>Company Login</md-tab-label>
            <md-tab-body>
                <form action="" name="driverLogin" layout="column">
                    <h2>Company Login</h2>
                    <md-input-container>
                        <label>Username</label>
                        <input name="dUsername" ng-model="dUsername" required>
                        <div ng-messages="driverLogin.cUsername.$error">
                            <div ng-message="required">Please enter your username</div>
                        </div>
                    </md-input-container>
                    <md-input-container>
                        <label>Password</label>
                        <input type="password" name="dPassword" ng-model="dUsername" required>
                        <div ng-messages="driverLogin.dUsername.$error">
                            <div ng-message="required">Please enter your password</div>
                        </div>
                    </md-input-container>

                    <button class="md-button md-raised" type="submit">Login</button>

                </form>
            </md-tab-body>
        </md-tab>
    </md-tabs>
</md-content>