﻿<div id="clientRegPage" layout="row" flex="50" layout-align="center center">
    <form flex="20" action="" name="clientRegistration" layout="column" ng-controller="clientRegistrationController">
        <h2>Client Registration</h2>
        <md-input-container>
            <label>Name</label>
            <input name="name" ng-model="name" required>
            <div ng-messages="clientRegistration.name.$error">
                <div ng-message="required">Please enter your name</div>
            </div>
        </md-input-container>
        <md-input-container>
            <label>Surname</label>
            <input name="surname" ng-model="surname" required>
            <div ng-messages="clientRegistration.surname.$error">
                <div ng-message="required">Please enter your surname</div>
            </div>
        </md-input-container>
        <md-input-container>
            <label>Email Address</label>
            <input name="email" ng-model="email" required>
            <div ng-messages="clientRegistration.email.$error">
                <div ng-message="required">Please enter your email</div>
            </div>
        </md-input-container>
        <md-input-container>
            <label>Username</label>
            <input name="username" ng-model="username" required>
            <div ng-messages="clientRegistration.username.$error">
                <div ng-message="required">Please enter your username</div>
            </div>
        </md-input-container>
        <md-input-container>
            <label>Password</label>
            <input name="password" ng-model="password" required>
            <div ng-messages="clientRegistration.password.$error">
                <div ng-message="required">Please enter your password</div>
            </div>
        </md-input-container>
        <md-input-container>
            <label>Contact Number</label>
            <input name="contact" ng-model="contact" required>
            <div ng-messages="clientRegistration.contact.$error">
                <div ng-message="required">Please enter your contact number</div>
            </div>
        </md-input-container>
        <md-input-container>
            <label>ID Number</label>
            <input name="id" ng-model="id" required>
            <div ng-messages="clientRegistration.id.$error">
                <div ng-message="required">Please enter your ID Number</div>
            </div>
        </md-input-container>
        <md-input-container>
            <label>Address</label>
            <input name="address" ng-model="address" required>
            <div ng-messages="clientRegistration.address.$error">
                <div ng-message="required">Please enter your address</div>
            </div>
        </md-input-container>
        <md-input-container>
            <md-button class="md-raised">Register</md-button>
        </md-input-container>

    </form>
</div>
