﻿<div id="createNewRequest" layout="row" flex="50" layout-align="center center">
    <form flex="20" action="" name="createNewRequest" layout="column" ng-controller="createNewRequestController as ctrl">
        <h2>Create New Delivery Request</h2>
        <md-input-container>
            <label>To</label>
            <input name="to" ng-model="to" required>
            <div ng-messages="createNewRequest.to.$error">
                <div ng-message="required">Please enter your items' destination</div>
            </div>
        </md-input-container>
        <md-input-container>
            <label>From</label>
            <input name="from" ng-model="from" required>
            <div ng-messages="createNewRequest.from.$error">
                <div ng-message="required">Please enter your the city your item is to be sent from</div>
            </div>
        </md-input-container>
        <md-input-container>
            <label>Deliver by date</label>
            <input type="date" name="deliveredByDate" ng-model="deliveredByDate" required>
            <div ng-messages="createNewRequest.deliveredByDate.$error">
                <div ng-message="required">Please enter your preferrable delivered by date</div>
            </div>
        </md-input-container>
       
        <md-input-container>
            <label>Address</label>
            <input name="address" ng-model="address" required>
            <div ng-messages="createNewRequest.address.$error">
                <div ng-message="required">Please enter your address</div>
            </div>
        </md-input-container>

 


        <md-chips ng-model="selectedItems" md-autocomplete-snap
                  md-transform-chip="ctrl.transformChip($chip)"
                  md-require-match="ctrl.autocompleteDemoRequireMatch">
            <md-autocomplete md-selected-item="ctrl.selectedItem"
                             md-search-text="ctrl.searchText"
                             md-items="item in ctrl.querySearch(ctrl.searchText)"
                             md-item-text="item.name"
                             placeholder="Search for an item">
                <span md-highlight-text="ctrl.searchText">{{item.name}} :: {{item.type}}</span>
            </md-autocomplete>
            <md-chip-template>
                <span>
                    <strong>{{$chip.name}}</strong>
                    <em>({{$chip.type}})</em>
                </span>
            </md-chip-template>
        </md-chips>

        <md-input-container>
            <label>Total Weight</label>
            <input type="number" name="weight" ng-model="weight" required>
            <div ng-messages="createNewRequest.weight.$error">
                <div ng-message="required">Please enter the total weight of your items</div>
            </div>
        </md-input-container>

        <md-input-container>
            <md-button type="submit" class="md-raised">Create</md-button>
        </md-input-container>

    </form>
</div>
